@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@100;200;400&family=Nunito&family=Poppins:wght@300&display=swap");

body {
  /* background: #f5f5f5; */
  background-image: url(../images/bg_image_7.png);
  /* background-size: cover; */
  background-repeat: repeat;
  background-position: top right;
  font-family: "Inter", sans-serif;
}

:root {
  --gray: #495057;
  --l-gray: #74788D;
  --blue: #1C2742;
  --purple: #8D72E1;
  --red: #F46A6A;
  --green: #33c18d;
}
p {
  color: #74788D;
  font-size: 14px;
}
.h-2 {
  font-size: 22px;
  color: #1c2742 !important;
  font-weight: 500;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
  position: relative;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  overflow-x: hidden;
  /* background: #1c2742; */
  background: linear-gradient(45deg, #03071e, #0b3b82);
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

.sidebar-brand {
  position: absolute;
  top: 0;

  text-align: center;
  padding: 20px 0;
}

.sidebar-brand h2 {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
}

.sidebar-nav {
  position: absolute;
  top: 85px;
  left: 10px;
  width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.sidebar-nav>li { 
  line-height: 50px;
  padding: 1.5px;
}

.sidebar-nav>li a {
  display: block;
  text-decoration: none;
  color: #fff;

  font-size: 15px;
}
/* .sidebar-nav>li a span{display:none !important;}

.toggled .sidebar-nav>li a span{display:inline-block !important;} */


.sidebar-nav>li>a:hover,
.sidebar-nav>li.active>a {
  text-decoration: none;
  color: #fff;
  /* background: #93def6; */
  /* color: #0b3b82; */
  /* background: linear-gradient(to left, #03071e, #0b3b82); */
  background: linear-gradient(to right, #0b3b82, #fff);
  border-radius:5px;
}

.navbar-brand img {
  /* background: linear-gradient(to left, #03071e, #0b3b82); */
  background-color: transparent;
}

.navbar-brand,
.navbar-brand:visited,
.navbar-brand:active,
.navbar-brand:focus {
  color: #fff !important;
}

.sidebar-nav>li>a i.fa {
  font-size: 16px;
  width: 60px;
}

#navbar-wrapper {
  width: 100%;
  position: absolute;
  z-index: 2;
}

#wrapper.toggled #navbar-wrapper {
  position: absolute;
  margin-right: -250px;
}

#navbar-wrapper .navbar {
  border-width: 0 0 0 0;
  background-color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  border-radius: 0;
}

#navbar-wrapper .navbar a {
  color: #1c2742;    text-decoration: none;
}

#navbar-wrapper .navbar a:hover {
  color: #1c2742;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 12px;
  top: 100px;
}

.content-wrapper {
  background-image: url(../images/bg_image_7.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -250px;
}

@media (min-width: 992px) {
  #wrapper {
    padding-left:250px;
  }

  #wrapper.toggled {
    padding-left: 60px;
  }

  #sidebar-wrapper {
    width:250px;
  } 

  #wrapper.toggled #sidebar-wrapper {
    width: 70px;
  }

  #wrapper.toggled #sidebar-wrapper .sidebar-nav>li a span{display:none !important;}
  
.toggled .sidebar-nav>li  span{display:inline-block !important;}


  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -190px;
  }

  #navbar-wrapper {
    position: relative;
    box-shadow: 10px -5px 5px 12px #b9bcbd52;
  }

  #wrapper.toggled {
    padding-left:60px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #wrapper {
    padding-left:0px;
  }
 
  #sidebar-wrapper {
    width:0px;
  }
 
  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 0;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
  }

  #navbar-wrapper {
    position: relative;
  }

  #wrapper.toggled {
    padding-left: 250px;
  }

  #content-wrapper {
    position: relative;
    top: 0;
  }

  #wrapper.toggled #navbar-wrapper,
  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 250px;
  }
}

.bg-tertiary {
  border-radius: 50% !important;
  width: 82px !important;
  height: 82px !important;
  line-height: 70px;
  border: 5.5px solid hsl(158deg 58% 48%) !important;
}

/* .card{
        min-height: 100%
      }*/

.table-section {
  border: 2px solid #d2d2d2;
  border-radius: 10px;
}

.btn-violet {
    background: linear-gradient(45deg, #03071e, #0b3b82);
    /* background: #8d72e1; */
    border: none;
    border-radius: 4px;
    min-width: 110px;
    font-size: 14px;
 
}

.btn-violet:hover {
  /* background: #1c2742; */
  background: linear-gradient(to left, #03071e, #0b3b82);
  box-shadow: 4px 4px 4px #9f9f9c;
 
}

 



.btn-violet-2 {
  /* background: #8d72e1; */
  background: linear-gradient(to left, #03071e, #0b3b82);
    border: 2px solid #0b3b82;
  border-radius: 4px;
  font-size: 12px;
}

.btn-violet-2:hover {
  background: linear-gradient(to right, #03071e, #0b3b82); 
  border: 2px solid #0b3b82;
  box-shadow: 5px 5px 5px #9f9f9c;

}

.th-font {
  font-weight: 700;
  font-size: 18px;
  color: #495057;
}

.d-heading {
  font-size: 21px;
  color: #1c2742 !important;
}

.search-custom {
  /* background: #8d72e1; */
  background: linear-gradient(45deg, #03071e, #0b3b82);
  color: white;
  padding: 5px 25px 5px 20px;
}

.search-custom:hover {
  /* background: #1c2742 !important */
  background: linear-gradient(to left, #03071e, #0b3b82);
  box-shadow: 4px 4px 4px #9f9f9c;
}

.search-icon {
  color: #fff;
}

.input-border {
  border: 1px solid #f1f1f2;
  background: #fff;
}

 

.card {
  background: #fff;
  margin-bottom: 0px;
  transition: 0.5s;
  border: 0;
  border-radius: 10px;
  border: 1px solid #efefef !important;
  display: inline-block;
  position: relative;
  width: 100%;
  box-shadow: 3px 2px 4px 0px rgb(195 195 196 / 30%) !important;
}

.card .body {
  font-size: 14px;
  color: #424242;
  padding: 15px 30px 0px 30px;
  font-weight: 400;
  box-shadow: 3px 2px 4px 0px rgb(195 195 196 / 30%);
  border-radius: 10px;

}

.profile-page .profile-header {
  position: relative;
}

.profile-page .profile-header .profile-image img {
  border-radius: 50%;
  width: 128px;
  border: 9px solid #e2e2e2;
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
}

.profile-page .profile-header .social-icon a {
  margin: 0 5px;
}

/*.shadow-card {
  box-shadow: 0px 1px 10px 2px rgba(203, 203, 205, 1) !important;
  }*/

.profile-page .profile-sub-header {
  min-height: 60px;
  width: 100%;
}

.profile-page .profile-sub-header ul.box-list {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
  background: #eee;
}

.profile-page .profile-sub-header ul.box-list li {
  border-right: 1px solid #e0e0e0;
  display: table-cell;
  list-style: none;
}

.profile-page .profile-sub-header ul.box-list li:last-child {
  border-right: none;
}

.heder-present {
  background-color: #e9ecef73;
}

.profile-page .profile-sub-header ul.box-list li a {
  display: block;
  padding: 15px 0;
  color: #424242;
}

.active-icon {
  color: #1cc909;
}

.border-card {
  border-top: 3px solid #f5f6f8;
}

.border-card-2 {
  border-top: 3px solid #f5f6f8;
  max-width: 90%;
}

.txt-g {
  color: #1cc909;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 5px;
}

.txt-org {
  color: #ffd42a;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 5px;
}

.lst-lgn {
  color: #1c2742 !important;
  font-weight: 500;
}

.last-tim {
  font-size: 11px;
}

.profile-center {
  line-height: 20px;
}

.txt-red {
  color: #f46a6a;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 8px;
}

.late {
  color: #f46a6a;
}

.on-time {
  color: #34c38f;
}

.footer-cicon {
  color: #397cb7;
}

.custom-pagination a {
  border: none;
  background: #8d72e1 !important;
  padding-top: 7px;
}

.page-link {
  color: #74788D;
}

.page-link:hover{background: #8d72e1; color:#fff;}

h6 {
  font-weight: normal;
}

.footer {
  background: #dededf61;
}

.footer p {
  font-size: 14px;
  color: #1c2742;
  font-weight: 400;
}

.clc-icon {
  font-size: 20px !important;
}

.form-check-input:checked {
  background-color: #8d72e1;
  border-color: #8d72e1;
}

.txt-blu-h6 {
  color: #144272;
  font-size: 22px;
  font-weight: 500;
}

.h2-login {
  font-size: 20px;
  color: #495057;
  font-weight: 600;
}

.time-role {
  color: #34c38f;
  font-size: 20px;
}

.lgout-role {
  color: #f46a6a;
  font-size: 20px;
}

.role {
  color: #989baa;
}

.dot-precent {
  color: #4fceb4;
}

.dot-absent {
  color: #ff8473;
}

.dot-late {
  color: #9b9c9c;
}

.dot-earlout {
  color: #e5d045;
}

.bg-present {
  height: 200px;
  width: 200px;
  border: 8px solid #4fceb4;
}

.bg-absent {
  height: 200px;
  width: 200px;
  border: 8px solid #ff8473;
}

.bg-late {
  height: 200px;
  width: 200px;
  border: 8px solid #9b9c9c;
}

.bg-erlgout {
  height: 200px;
  width: 200px;
  border: 8px solid #e5d045;
}

.task-complte {
  background: #205295;
  padding: 35px;
}

.task-progress {
  background: #4a9ae0;
  padding: 35px;
}

.task-incomplte {
  background: #b6b6b7;
  padding: 35px;
}

.custom-nav {
  border: none;
}

.fa-cmplt {
  color: #205295;
}

.fa-progress {
  color: #4a9ae0;
}

.fa-incomplte {
  color: #b6b6b7;
}

/*.profile-page{border: 1px solid #c8c8c9; border-radius: 10px; background: #fff; box-shadow: 0px 1px 10px 2px rgba(203,203,205,1)!important;}
  */
div.dataTables_wrapper {
  width: 100%;
  margin: 0 auto;
}

.dataTables_scrollBody {
  max-height: 400px !important;
  height: 400px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #ced4da !important;
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 30px !important;
}

.dataTables_wrapper .dataTables_info {
  padding-top: 35px !important;
}

table.dataTable thead tr {
  /* background: #e4dbff !important; */
  /* background: linear-gradient(to left, #03071e, #0b3b82); */
  background: #0b3b82;
  /* background-color: #03071e; */
  /* background: linear-gradient(to right, #03071e, #0b3b82); */
  border-bottom: 1px solid #e4dbff !important;
  /* color: #1C2742 !important; */
}

table.dataTable thead tr th {
  color: #fff !important;
}

.swal2-icon.swal2-warning {
  color: red !important;
  border-color: red !important;
}

table.dataTable thead tr {
  /* background: #e4dbff !important; */
}

table.dataTable.display>tbody>tr.odd>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.odd>.sorting_1 {
  box-shadow: none !important;
}

table.dataTable.stripe>tbody>tr.odd>*,
table.dataTable.display>tbody>tr.odd>* {
  box-shadow: none !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #f5f6f8 !important;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #f5f6f8 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  /* background: #8d72e1 !important; */
  background: linear-gradient(to left, #03071e, #0b3b82) !important;
  /* color: #fff !important; */
}

/* .dataTables_wrapper .dataTables_paginate .paginate_button:active {
  color: #9f9f9c !important;
} */

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate {
  color: lightcyan;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  /* color: lightcyan !important; */
  color: #9f9f9c !important;
}

/* #example_paginate span a {
  color: lightcyan;
}

#example_paginate span a:hover {
  color: #fff !important;
} */

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: linear-gradient(to left, #03071e, #0b3b82) !important;
  color: #fff;
}

#dtReportstable_previous:hover,
#dtReportstable_next:hover,
#example_previous:hover {
  color: #fff !important;
}

.custom-check {
  font-size: 15px;
}

.f-check {
  color: #4fceb4;
  font-size: 20px !important;
}

.fa-close {
  color: red;
  font-size: 20px !important;
}

.date-text {
  font-size: 21px;

}

.lat-tme {
  color: #8d72e1;
}

.calander {
  color: #1c2742;
}

.calander:hover {
  color: #1c2742;
}

.Screenshots-border {
  border: 1px solid #c8c8c9;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 10px 2px rgba(203, 203, 205, 1) !important;
}

tbody {
  font-size: 14px;
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: 400 !important;
  font-size: 17px;
}

.dataTables_scrollHeadInner {
  background: #E4DBFF !important;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td {
  vertical-align: middle;
  padding: 16px 10px 16px !important;
}

.profile-center h5 {
  font-size: 16px;
  color: #1c2742;
  font-weight: 500;

}

.profile-center p {
  font-size: 13px;
}

.rp-log h6 {
  font-size: 15px;
  color: #74788D;
  font-weight: 500;
  margin-bottom: 0px;
}

.calander {
  font-size: 20px;
}

.form-select {
  font-size: 15px !important;
}


.elem,
.elem * {
  box-sizing: border-box;
  margin: 0 !important;
}

/*
  .elem {
   
    font-size: 0;
    width: 33%;
    border: 20px solid transparent;
    border-bottom: none;
    background: #fff;
    padding: 10px;
    height: auto;
    background-clip: padding-box;
  }*/
.elem>span {
  display: block;
  cursor: pointer;
  height: 0;
  padding-bottom: 70%;
  background-size: cover;
  background-position: center center;
}

.lcl_fade_oc.lcl_pre_show #lcl_overlay,
.lcl_fade_oc.lcl_pre_show #lcl_window,
.lcl_fade_oc.lcl_is_closing #lcl_overlay,
.lcl_fade_oc.lcl_is_closing #lcl_window {
  opacity: 0 !important;
}

.lcl_fade_oc.lcl_is_closing #lcl_overlay {
  -webkit-transition-delay: .15s !important;
  transition-delay: .15s !important;
}


.header-profile-user {
  height:35px;
  width: 35px;
  border: 3px solid #74788D;
  padding: 3px;
}

.noti-icon .badge {
  position: absolute;
    top: 5px;
    font-size: 9px;
    padding: 4px 8px;
    left: 29px;
}

.dropdown-menu-lg{min-width:400px; width: 100%; }

@media (max-width: 600px){ 

.navbar-header .dropdown .dropdown-menu {
    left: 10px!important;
    right: 10px!important;
}

 
} 

 @media only screen and (max-width: 600px) {
  
  .dropdown-menu-lg{min-width:336px !important;}
  .dropdown-menu-end[data-bs-popper] { right: -60px;left: auto;}
  .card-left{position:inherit !important;}
}

 
 
.header-item {
  border: none;
}

.header-item {
  height: 70px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: var(--bs-header-item-color);
  border: 0;
  border-radius: 0;
}

.bg-org {
  background: #F46A6A;
  top: 3px;
}

.bi-lst {
  color: #8d72e1;
  font-weight: bold;
}

.feather {
  color: #8d72e1;
}

.fa-navi {
  font-size: 25px !important;
}

.prf-dwn {
  width: 190px;
  font-size: 13px;
 
}

.dropdown-menu-end {
    --bs-dropdown-bg: #fff;
    --bs-dropdown-link-color: #212529;
    /* --bs-dropdown-link-color: red; */
    --bs-dropdown-link-hover-color: #1f2327;
    --bs-dropdown-link-hover-bg: #f8f9fa;
    --bs-dropdown-border-width: 0px;
    box-shadow: 3px 2px 4px 0px rgb(195 195 196 / 30%) !important;
        border: 2px solid #f6f6f6;
  
}

.pr-text {
  font-size:16px;
  color: #1C2742;
}

.fa-dlt {
  font-size: 25px !important;
  font-weight: 500 !important;
  color: #1c2742 !important;
}

.text-calender {
  font-size: 18px;
  color: #74788D;
  margin-top: 2px;
  margin-bottom: 0rem;
}

.btn-none {
  background: none !important;
  border: none !important;
  color: #000 !important;
}

.btn-none:hover {
  color: #8d72e1 !important;
}

.input-group-append {
  cursor: pointer;
}

.text-calender-icn {
  font-size: 21px;
  color: #1c2742;
  margin-top: 2px;
  margin-bottom: 0rem;
}

.f-clnd {
  font-size: 21px !important;
}

.content-gray {
  color: #495057;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 0;
}

.sub-p {
  font-size: 15px;
  color: var(--l-gray);
  font-weight: 500;
}

.text-pres {
  color: var(--l-gray);
  font-size: 18px;
}

/*.custom-card{min-height: 192px; height: 100%;}*/

.bg-tertiary h5 {
  color: #34C38F
}

.txt-number {
  font-size: 25px;
  color: #33c18d;
  font-weight: 600;
}

.txt-number-red {
  font-size: 25px;
  color: var(--red);
  font-weight: 600;
}

.bg-tertiary-red {
  border-radius: 50% !important;

  width: 82px !important;
  height: 82px !important;
  line-height: 70px;
  border: 5.5px solid #F46A6A !important;
}

.bg-tertiary-lgray {
  border-radius: 50% !important;

  width: 82px !important;
  height: 82px !important;
  line-height: 70px;
  border: 5.5px solid var(--l-gray) !important;
}

.txt-number-lgray {
  font-size: 25px;
  color: var(--l-gray);
  font-weight: 600;
}

.icon-input {
  background-color: #fff;
      border: 1px solid var(--purple) !important;
}

.selecet-input {
  border-left: none !important;
}

.btn-refresh {
  background: #fff;
  border: 1px solid #ced4da !important;
  color: var(--l-gray);
}

.fa-repeat:hover {
  color: #fff !important;
}

.btn-refresh:hover {
  background: #1c2742;
  color: #fff !important;
  border-right: none !important;
}


.btn-refresh:active {
  background: #fff !important;
}

.form-select {
  color: var(--l-gray);
}

.fa-refr {
  color: var(--l-gray);
}

.icon-inputr {
  background-color: #fff;
}

.chart {
  display: inline-block;
}

 .tody-sec{ border:2px solid #efefef !important;    border-radius: 5px;}
   
 .tody-sec p{font-size:18px; font-weight: 500;} 
.btn-Productive {
  padding: 9px;
  background: #6770dc;
  border: #6770dc;
  border-radius: 3px;
}

.btn-Productive:hover {
  padding: 9px;
  background: #6770dc;
  border: #6770dc;
  border-radius: 3px;
}

.btn-Unproductive {
  padding: 9px;
  background: #dc67ce;
  border: #dc67ce;
  border-radius: 3px;
}

.btn-Unproductive:hover {
  padding: 9px;
  background: #dc67ce;
  border: #dc67ce;
  border-radius: 3px;
}


.btn-Neutral {
  padding: 9px;
  background: #67b7dc;
  border: #67b7dc;
  border-radius: 3px;
}

.btn-Neutral:hover {
  padding: 9px;
  background: #67b7dc;
  border: #67b7dc;
  border-radius: 3px;
}


#chartdiv {
  width: 100%;
  height: 400px;
}

#chartdiv2 {
  width: 100%;
  height: 400px;
}

.bi-filt {
  color: #74788d;
}

.dataTables_scrollHead {
  margin-top: 60px !important;
}

.btn-custom {
  min-width: 200px;
  border: none;
  width: 100%;
}

.dropdown-custom {
  min-width: 200px;
  width: 100%;
  border: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background: none;
  color: var(--l-gray);
}

/* .dropdown-item{color: var(--l-gray);border-bottom: 1px solid  #adb5bd; }
  */
.breadcrumb-wrapper a {
  font-size: 21px;
  line-height: 20px;
  color: #1c2742 !important;
  text-decoration: none;
}

.breadcrumb-wrapper span {
  font-size: 21px;
  line-height: 20px;
  color: #1c2742 !important;
}

.pf-border {
  border: 2px solid #c7c7c8;
  border-radius: 6px;
}

 
.btn-prime {
  border: 1px solid #c3c3c4;
  color: #74788D; 
  border-radius: 1px !important;
}
/* .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--purple);
    border-color: var(--purple);
}*/


.btn-check:checked+.btn{background:var(--purple)!important; border:solid 1px var(--purple)!important}
.btn-check+.btn:hover {
    color: #fff;
    background-color: #1c2742;
  border-color: #c3c3c4;
}

.days {
  font-size: 30px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin-left: -1px !important;
  color: #74788D !important
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background: #1c2742 !important;
  color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #1c2742 !important;
  color: #fff !important;
}

.paginate_button.current {
  color: red !important;
}
.sort-l a{font-size: 14px; color: #74788D;}
.dataTables_wrapper .dataTables_filter input {
    border: 1px solid #ced4da !important;}

.custom-btn-bg{background-color: var(--purple) !important;     border-radius: 5px 0px 0px 5px;}
.bg-user-login{background: var(--blue);}
.login-bg{
background: #edebee url(../images/login-bg.png) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

 


.bg-form{background: #ffffffeb; border-radius:10px; }
.text-9{font-weight: 600;}
.custom-login-form{    background: no-repeat;border: none !important; border-bottom: 2px solid #1c2742 !important; border-radius: 0px; padding-left: 0px;}

/* ::placeholder {color: #6e717a !important;font-size: 15px !important;font-weight: 600; opacity: 1; }
*/

 .remember-text{color: var(--blue); font-size: 16px;}
 .btn-login{background: var(--blue);border-radius: 44px;max-width: 150px;width: 100%;   color: #fff; font-weight: 500; font-size:18px;}
 .btn-login:hover{background: var(--purple); color:#fff;}
 .hero-content{background:#0000004a;}
 .dropdown-toggle::after{display: none;}
 .fa-dots{    font-size: 20px;color: #2c74b3;}
 .dropdown-item{font-size: 13px;}
 .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{border: none;}

.collapse .navbar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: #8d72e1;
    border-radius: 5px;
}
.collapse .navbar-nav li{line-height: 0px;}
.custom-modal-header{background: #1c2742; color: #fff; border-radius: 0;}
.modal-content{border-radius: 0px;}
.form-control{border: 1px solid var(--purple); font-size: 14px;} 
.form-select{border: 1px solid  var(--purple); font-size: 14px !important;}
.btn-close{color: #fff !important;}

 
/*Range style*/
#range-slider__range {
  appearance: none;
  width: calc(100% - (141px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf; 
  outline: none;
  padding: 0;
  margin: 0;
}

/*Range black ⚫ thumb*/
#range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #8d72e1;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

/*On hover change colour of black thumb into green 🟢 and scale size*/
#range-slider__range::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  background: #8d72e1;}

#range-slider__range:active::-webkit-slider-thumb {
  transform: scale(1.1);
  background: #8d72e1;}

/*Range current value*/
#range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #8d72e1;
  padding: 5px 10px;
  margin-left: 8px;
}

#range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #8d72e1;
  border-bottom: 7px solid transparent;
  content: "";
}

.btn-close{background:none;}
.form-label{font-size: 14px;}
.fa-shift-dots{color: var(--purple); font-size: 26px !important;}
.form-none{border: none !important;     padding: 9px 0px 5px 0px;     font-size: 16px !important;
}
.form-select:focus{box-shadow:none !important; border-color: none !important;}


 
[data-simplebar]{
    position:relative;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -ms-flex-line-pack:start;
    align-content:flex-start;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start
}
.simplebar-wrapper{
    overflow:hidden;
    width:inherit;
    height:inherit;
    max-width:inherit;
    max-height:inherit
}
.simplebar-mask{
    direction:inherit;
    position:absolute;
    overflow:hidden;
    padding:0;
    margin:0;
    left:0;
    top:0;
    bottom:0;
    right:0;
    width:auto!important;
    height:auto!important;
    z-index:0
}
.simplebar-offset{
    direction:inherit!important;
    -webkit-box-sizing:inherit!important;
    box-sizing:inherit!important;
    resize:none!important;
    position:absolute;
    top:0;
    left:0!important;
    bottom:0;
    right:0!important;
    padding:0;
    margin:0;
    -webkit-overflow-scrolling:touch
}
.simplebar-content-wrapper{
    direction:inherit;
    -webkit-box-sizing:border-box!important;
    box-sizing:border-box!important;
    position:relative;
    display:block;
    height:100%;
    width:auto;
    visibility:visible;
    overflow:auto;
    max-width:100%;
    max-height:100%;
    scrollbar-width:none;
    padding:0!important;
    color:var(--blue);
    font-weight: 500;
}

.simplebar-content-wrapper p{color: var(--blue); }
.simplebar-content-wrapper::-webkit-scrollbar,.simplebar-hide-scrollbar::-webkit-scrollbar{
    display:none
}
.simplebar-content:after,.simplebar-content:before{
    content:" ";
    display:table
}
.simplebar-placeholder{
    max-height:100%;
    max-width:100%;
    width:100%;
    pointer-events:none
}
.simplebar-height-auto-observer-wrapper{
    -webkit-box-sizing:inherit!important;
    box-sizing:inherit!important;
    height:100%;
    width:100%;
    max-width:1px;
    position:relative;
    float:left;
    max-height:1px;
    overflow:hidden;
    z-index:-1;
    padding:0;
    margin:0;
    pointer-events:none;
    -webkit-box-flex:inherit;
    -ms-flex-positive:inherit;
    flex-grow:inherit;
    -ms-flex-negative:0;
    flex-shrink:0;
    -ms-flex-preferred-size:0;
    flex-basis:0
}
.simplebar-height-auto-observer{
    -webkit-box-sizing:inherit;
    box-sizing:inherit;
    display:block;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    height:1000%;
    width:1000%;
    min-height:1px;
    min-width:1px;
    overflow:hidden;
    pointer-events:none;
    z-index:-1
}
.simplebar-track{
    z-index:1;
    position:absolute;
    right:0;
    bottom:0;
    pointer-events:none;
    overflow:hidden
}
[data-simplebar].simplebar-dragging .simplebar-content{
    pointer-events:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-user-select:none
}
[data-simplebar].simplebar-dragging .simplebar-track{
    pointer-events:all
}
.simplebar-scrollbar{
    position:absolute;
    right:2px;
    width:6px;
    min-height:10px
}
.simplebar-scrollbar:before{
    position:absolute;
    content:"";
    background:#a2adb7;
    border-radius:7px;
    left:0;
    right:0;
    opacity:0;
    -webkit-transition:opacity .2s linear;
    transition:opacity .2s linear
}
.simplebar-scrollbar.simplebar-visible:before{
    opacity:.5;
    -webkit-transition:opacity 0s linear;
    transition:opacity 0s linear
}
.simplebar-track.simplebar-vertical{
    top:0;
    width:11px
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before{
    top:2px;
    bottom:2px
}
.simplebar-track.simplebar-horizontal{
    left:0;
    height:11px
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{
    height:100%;
    left:2px;
    right:2px
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{
    right:auto;
    left:0;
    top:2px;
    height:7px;
    min-height:0;
    min-width:10px;
    width:auto
}
[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical{
    right:auto;
    left:0
}

 .notification-item .d-flex {
 padding: 15px 12px 15px;
    border-bottom: 2px solid #f6f6f6;
}

.notification-border{border-bottom: 2px solid #f6f6f6;} 
.notification-time{color: var(--l-gray) !important; font-size: 13px; margin-bottom: 0px;}
.drop-h6{color:#4a9ae0; }
.left-card{border-radius: 0px;box-shadow: none !important;}
.left-header{border-bottom: 1px solid #efefef;border-radius: 0px;}
.left-card-active .nav-link.active, .nav-pills .show>.nav-link{background:var(--purple); border-radius: 0px; color: #fff !important;}
.left-card-active li a{color: #1C2742 !important; padding:15px 34px 15px 34px; border-radius: 0px !important;}
.right-card-body{border: 1px solid #efefef;border-radius: 0px;border-left: 0px !important;}
.left-profile h3{color: var(--blue);font-size: 16px;margin-bottom: 0px;}
.left-profile a{text-decoration: none;    padding: 5px;}
.left-icon-profile {height:50px;width: 50px;padding: 3px;
}
.right-table tr td, .right-table tr th{padding: 16px ;     font-weight: 500;}


.card-left {position: absolute; border-bottom:none; border-radius: 0px; background: #fff;}

.card-left .nav-link.active, .nav-pills .show>.nav-link{background:var(--purple); border-radius: 0px; color: #fff !important;}
.card-left li a{color: #1C2742 !important; padding:16px 35px 16px 35px; border-radius: 0px !important;}
.card-left-2 li a{color: #1C2742 !important; padding:29px 40px 29px 39px; border-radius: 0px !important;}
.custom-td{min-width:300px;  border-right:2px solid #efefef; border-bottom: none;}
/*.thead{height:80px;}*/


.fc-orange{min-width: 200px;position: relative;width: 100%;margin: 12px 0px 0px;}

.fc-org {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 15px 70px 15px 90px;
    text-align: center;
    background: #ffeeda;
    position: absolute;
}

.fc-orange::before
{
     content: '';
    background: #ffa740;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
     position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.fc-org-2 {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding:5px 71px 5px 50px;
    text-align: center;
    background: #ffeeda;
}

.fc-orange-2::before
{
     content: '';
    background: #ffa740;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top:15px;
    border-radius: 6px;
}

 

.fc-lblue{
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 13px 90px 0px 90px;
    text-align: center;
    background: #cce4f7;
}

.fc-lpink{
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding:13px 90px 0px 90px;
    text-align: center;
    background: #ffe1ec;
}


.fc-lgrn-2 {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 5px 71px 5px 50px;
    text-align: center;
    background: #e8f2d1;
}

.fc-grn-2::before
{
     content: '';
    background: #86b124;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top:15px;
    border-radius: 6px;
}

.fc-grn-3{width: 100%; position: relative; margin: 13px 0px 0px;}
.fc-lgrn-3 {
border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 14px 37em 15px 0em;
    text-align: center;
    background: #e8f2d1;
    position: absolute;
}

.fc-grn-3::before{
    content: '';
    background: #86b124;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}
.fc-gblue-2 {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 5px 71px 5px 50px;
    text-align: center;
    background: #cce4f7;
}

.fc-lgblue-2::before
{
     content: '';
    background: #63b6f8;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top:15px;
    border-radius: 6px;
}
.fc-lgblue-3{position: relative; width: 100%; margin: 11px 0px;}

.fc-gblue-3 {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #fff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 20px 70px 20px 90px;
    text-align: center;
    background: #cce4f7;
    position: absolute;
}

.fc-lgblue-3::before
{
    content: '';
    background: #63b6f8;
    color: white;
    width: 6px;
    height: 50px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}
.w-blue-2{min-width:212px; width: 100%;  position:relative;}
 .w-blue{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding:5px 71px 5px 50px;
    text-align: center;
    background: #cce4f7;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-blue-2::before{
content: '';
    background: #63b6f8;
    color: white;
    width: 6px;
    height:38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-red-2{min-width:212px; width: 100%;  position:relative;}
 .w-red{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 5px 71px 5px 50px;
    text-align: center;
    background: #ffe9e9;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-red-2::before{
content: '';
    background: #ff6868;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-org-2{min-width:212px; width: 100%;  position:relative;}


 .w-org{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
        padding: 5px 71px 5px 50px;
    text-align: center;
    background: #ffeeda;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-org-2::before{
content: '';
    background: #ffa740;
    color: white;
    width: 6px;
    height:38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-green-2{min-width:212px; width: 100%;  position:relative;}


 .w-green{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
     padding: 5px 71px 5px 50px;
    text-align: center;
    background: #e8f2d1;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-green-2::before{
content: '';
    background: #86b124;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-yellow-2{min-width:212px; width: 100%;  position:relative;}


 .w-yellow{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
       padding: 5px 71px 5px 50px;
    text-align: center;
    background: #fffdd6;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-yellow-2::before{
content: '';
    background: #ebe414;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-yash-2{min-width:212px; width: 100%;  position:relative;}


 .w-yash{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
      padding: 5px 71px 5px 50px;
    text-align: center;
    background: #d7d7d7;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-yash-2::before{
content: '';
    background: #7d7b7b;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-gray-2{min-width:212px; width: 100%;  position:relative;}


 .w-gray{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
     padding: 5px 71px 5px 50px;
    text-align: center;
    background: #f2f2f2;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-gray-2::before{
content: '';
    background: #c2c2c2;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-voilet-2{min-width:212px; width: 100%;  position:relative;}


 .w-voilet{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
       padding: 5px 71px 5px 50px;
    text-align: center;
    background: #e1d8ff;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-voilet-2::before{
content: '';
    background: #8d72e1;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}
.w-pink-2{min-width:212px; width: 100%;  position:relative;}


 .w-pink{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
      padding: 5px 71px 5px 50px;
    text-align: center;
    background: #ffe1ec;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-pink-2::before{
content: '';
    background: #fb2576;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}

.w-teal-2{min-width:212px; width: 100%;  position:relative;}


 .w-teal{
    border-radius: 0px 15px 15px 0px;
    border: none;
    cursor: move;
    color: #000!important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
   padding: 5px 71px 5px 50px;
    text-align: center;
    background: #d8fff3;
 position: absolute;
    text-decoration: none;
    font-weight: 600;
 }
.w-teal-2::before{
content: '';
    background: #00ac78;
    color: white;
    width: 6px;
    height: 38px;
    display: inline-flex;
    position: relative;
    top: -3px;
    border-radius: 6px;
    left: -1px;
}
.week-td{   border-right: 2px solid #efefef; }
tr th{color:var(--l-gray);}
.week-tab th{border: 1px solid #efefef;}

.td-active{background:var(--blue ) !important; color: #fff;}
.btn-cst{background:#ffe9e9; border: none; color: var(--blue);border-radius: 6px;}
.btn-cst:hover{background: var(--blue);}
.btn-est{background:#ffeeda; border: none; color: var(--blue);border-radius: 6px;}
.btn-est:hover{background: var(--blue);}
.btn-mst{background:#e8f2d1; border: none; color: var(--blue);border-radius: 6px;}
.btn-mst:hover{background: var(--blue);}
.btn-pst{background:#cce4f7; border: none; color: var(--blue);border-radius: 6px;}
.btn-pst:hover{background: var(--blue);}
.btn-ist{background:#e1d8ff; border: none; color: var(--blue);border-radius: 6px;}
.btn-ist:hover{background: var(--blue);}

.btn-day{background: #fff; border:1px solid var(--purple); border-radius: 6px; color:var(--blue)}

.btn-day:hover{background:var(--purple);      border: 1px solid var(--purple);}
.custom-select.option{
  background: red;
}



 
.popover__content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 10px;
   background-color: #fff;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  min-width:160px;
 
}
 
.popover__wrapper:hover .popover__content {
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
}
.popover__message {
  text-align: center;
}
.pop-hrm h3{font-size: 14px; color: var(--purple);font-weight: 600;}
.pop-hrm p{font-size: 12px; margin-bottom: 0px;}
.pop-key h3{font-size: 14px; color: #63b6f8; font-weight: 600;}
.pop-key p{font-size: 12px; margin-bottom: 0px;}

.pop-spech h3{font-size: 14px; color: #86b124; font-weight: 600;}
.pop-spech p{font-size: 12px; margin-bottom: 0px;}

.pop-key{border-bottom: 2px solid #efefef;     padding:10px 0px 5px 13px;}
.pop-hrm{border-bottom: 2px solid #efefef;     padding: 10px 0px 5px 13px;}
.pop-spech{   padding: 10px 0px 10px 13px;}


.msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

.msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
    position: relative
}

.form-card {
    text-align: left
}

.msform fieldset:not(:first-of-type) {
    display: none
}

.msform input,
.msform textarea {
     padding: 8px 15px 8px 15px;
    border: 1px solid var(--purple);
    border-radius: 5px;
    margin-bottom:10px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
  
    color:var(--l-gray);
    background-color: #ffff;
    font-size: 14px;
    

}

.msform input:focus,
.msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

.msform .action-button {
    width: 100px;
    background: #673AB7;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
     
}

.msform .action-button:hover,
.msform .action-button:focus {
    background-color: #311B92
}

.msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
   
}

.msform .action-button-previous:hover,
.msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #673AB7
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 33%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    
    content: "1"
}

#progressbar #personal:before {
    
    content: "2"
}

#progressbar #payment:before {
    
    content: "3"
}

 
#progressbar li:before {
     width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #1c2742;
    background: #fff;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    border: 2px solid #efefef;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background:#8d72e1; color: #fff;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #8d72e1;
}

.fit-image {
    width: 100%;
    object-fit: cover
}
.mutt-card{border: none !important; box-shadow: none !important;}
.btn-icon{height: 25px; width: 25px; padding: 0px; font-size: 13px;    border: 1px solid #8d72e1;color: #8d72e1;}
.btn-icon:hover{background:var(--blue) !important; color: #fff !important; border: 1px solid #8d72e1;color: #8d72e1;}
.table>thead {vertical-align: middle;}





/* Chandra Shekar */

/* Form inputs */

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.success #adminLoginName {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid red !important; 
}
  
.form-control.error input {
  border-color: #e74c3c;    
}

.form-control.error #adminLoginName {
  border-top: 0px !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid red !important; 
}

#empPasswordErr, #empConfirmPasswordErr {
  font-size: 0.875em;
}

#empPasswordErr,
#empConfirmPasswordErr {
  display: none;
}

.cust_error {
  visibility: hidden;
}

.cust_err {
  display: none;
}

.form_field small{
  color: #e74c3c;
  visibility: hidden;
}

.form_field.error small{
  visibility: visible;
}

.saveNewEmployeeDataHeader {
  background-color: #8d72e1;
  border-color: #8d72e1;
  color: white;
}

.saveNewEmployeeDataHeader> h5 {
  /* color: white; */
  font-size: medium !important;
}

.newUserLabel {
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

#addUserModalHeader {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
  background-color: #1c2742; 
  color: white;
}

.user-bg-success {
  background-color: #8d72e1;
  color: #fff;
}

.user-text-success {
  color: #8d72e1;
}

.bg-none {
  background: transparent;
}

#forgotPasswordBtn:active,
#forgotPasswordBtn:focus {
  border: none;
}

/* Departments Styles */
.addNewDeptBtn {
  font-size: 13px;    border: 1px solid #8d72e1;color: #8d72e1;
}
.addNewDeptBtn:hover{background:var(--blue) !important; color: #fff !important; border: 1px solid #8d72e1;color: #8d72e1;}

.actionPart {
  right: 10px;
  top: 9px;
}

.editSubDeptName,
.delSubDeptName {
  cursor: pointer;
}

.btn-cancel {
  color: #8d72e1;
  border: 1px solid #8D72E1;
  border-radius: 4px;
  min-width: 110px
}

.btn-cancel:hover {
  background: #1c2742;
  color: white;
  border-color: #1c2742;
}

/* /Departments Styles */

/* Shifts Styles */
#takeBreakTypeFlexible {
  display: none;
}

#takeBreakTypeFixed {
  display: none;
}
/* /Shifts Styles */

/* /Chandra Shekar */

 
 
#adminLoginName:focus, 
#adminLoginPassword:focus {
  color: #212529;
  /* color: red; */
  background-color:transparent !important;
  border-color: transparent;
  outline: 0;
  box-shadow: none !important;
}